@charset "utf-8";
/* CSS Document */
a {color:#a54c3b}
a:focus, a:hover {color: #e77718}
ol, ul, li {
    list-style: none outside none
}
@media  (min-width: 700px)
  {
	  
  .main{ max-width:1024px;   
     padding:0.5em;  }
	 .flow1 {	margin:0;width:100px} 
	.am-list-news-default .am-list .am-list-thumb img{width:100px;height:100px; border-radius: 50%;} 
	.am-list-news-default .am-list-item-hd {
   
    padding-top: 20px;
}
	.am-list-date{text-align:right;padding-top:30px;display:block}
	  .aabb{display:none}
	
  }
  
  @media  (max-width: 699px)
  {
	  .aabb{display:block}
	  
 .flow1 {	width:100%}
 
	.am-list-news-default .am-list .am-list-thumb img{  
	 width: 78px;
    height: 78px;
    border-radius: 50%;
    margin-top: 10px;
	    
	} 
    
.am-list-date{padding-top:3px;display:block}
	
	.am-u-sm-3{width:28%}
	
	.am-list-news-default .am-list-item-hd {
 
    padding-top: 3px;
}
	
  }
  
  
 .flow1 {

 
    text-align:left;
	
}



.floww {
   
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue,  purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:  hue 1s linear infinite;
 
}

.floww1 {
   
    background: linear-gradient(to right, #ff0000, #8b4513, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:  hue 3s linear infinite;
 
}


@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}


img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1.3em !important;
      width: 1.3em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }
.main{padding:0em;    margin: 0 auto;}
.mtop{margin-top:1em;}
.red{color:red;}
.gray{color:gray;}
.center{text-align:center;}
.hidden{display:none;}
.hide{display:none;}
.clear{clear:both;height:0;line-height:0;content:'.';display:block;visibility:hidden;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.toTop{background-size:100%;border:0;}
.am-with-fixed-navbar{padding-bottom:0px}
.main div.left{background:0 0}
#axmtzebxym{width:260px}
#title{width:260px}
#nianling{width:260px}
	#laizi{width:260px}
img{border:0}
.kfccbg{background-image:url(../images/bg1.gif);padding:0}
.imgbg{background-image:url(../images/wh143.gif)}
.imgojbkbg{background-image:url(../images/wh2022.gif)}
.f16{font-size:16px;font-weight:700}
.f16 span{font-size:16px;color:#8b4513;font-weight:700}
.bluef12{font-size:16px;color:#003466;font-weight:700}
.sxrf14{color:#00f;font-weight:700;font-size:20px;margin-top: -8px;  margin-left:-9px;    letter-spacing: 1px;  display: block;}

.am-panel-hd{padding:0}
.am-panel-hd p{padding:0;margin:0;font-size:12px}
.am-panel-bd{padding:0}

.am-list li{padding:10px;
}


.am-panel-default>.am-panel-hd{background-color:rgba(245,245,245,.56);}
.am-list>li{background-color:rgba(255,255,255,.73)}
.am-form-group{margin-bottom:.2rem}
.am-form input[type=color],.am-form input[type=date],.am-form input[type=datetime-local],.am-form input[type=datetime],.am-form input[type=email],.am-form input[type=month],.am-form input[type=number],.am-form input[type=password],.am-form input[type=search],.am-form input[type=tel],.am-form input[type=text],.am-form input[type=time],.am-form input[type=url],.am-form input[type=week],.am-form select,.am-form textarea,.am-form-field{padding:.5em;font-size:1.5rem;line-height:1.2;color:#555;vertical-align:middle;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:0}
.am-form input[type=color]:focus,.am-form input[type=date]:focus,.am-form input[type=datetime-local]:focus,.am-form input[type=datetime]:focus,.am-form input[type=email]:focus,.am-form input[type=month]:focus,.am-form input[type=number]:focus,.am-form input[type=password]:focus,.am-form input[type=search]:focus,.am-form input[type=tel]:focus,.am-form input[type=text]:focus,.am-form input[type=time]:focus,.am-form input[type=url]:focus,.am-form input[type=week]:focus,.am-form select:focus,.am-form textarea:focus,.am-form-field:focus{background-color:#fefffe;border-color:#e77f46;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(59,180,242,.3);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(59,180,242,.3)}
#tgBigox{
    position: relative;
    width:900px; margin:0 auto; height:30px; line-height:30px; padding-right:65px; overflow:hidden;
}
#tgGoox{
    position: absolute;
    height:30px; line-height:30px;
    top: 0px;
    left:0;
}
#tgGoox a{
    color:#fff;
    margin-left:8px;
    float:left;
}
#tgGoox a:hover{
    color:#57bc54;
}


#play_btn {
        position: absolute;
        right: 6%;
        top: 8%;
        width: 50px;
        height: 50px;
        overflow: hidden;
        background-color: #000;
        border: solid 3px #ccc;
        border-radius: 50%;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        z-index:111111;
    }
    
    #play_btn button {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: url('../images/music.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 45%;
        background-color: transparent;
        border: none;
    }
    
    #play_btn audio {
        width: 0px;
        height: 0px;
        overflow: hidden;
        visibility: hidden;
    }
    
    #play_btn.play {
        -webkit-animation: play 3s linear infinite;
        -moz-animation: play 3s linear infinite;
        -ms-animation: play 3s linear infinite;
        animation: play 3s linear infinite;
    }
    
    #play_btn.pause {
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        animation: none;
    }
    
    @keyframes play {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @-moz-keyframes play {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @-webkit-keyframes play {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @-ms-keyframes play {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }




#contentak { 
	width: 100%;
	height: 100%; 
	max-width:1024px;
	top: 0px;
	overflow: hidden; 
	position: absolute; 
}
#snowflake {
	width: 100%; 
	height: 100%; 
	position: absolute; 
	top: 0; 
	left: 0; 
	overflow: hidden; 
}
.snowRoll { 
	position: absolute; 
	opacity: 0; 
	-webkit-animation-name: mysnow; 
	-webkit-animation-duration: 20s; 
	-moz-animation-name: mysnow; 
	-moz-animation-duration: 20s; 
	height: 80px; 
}
@-webkit-keyframes mysnow {  
	0% {
	 bottom: 100%;
	}
	 50% {
	 -webkit-transform: rotate(1080deg);
	}
	 100% {
	 -webkit-transform: rotate(0deg) translate3d(50px, 50px, 50px);
	}
}
@-moz-keyframes mysnow {  
	0% {
	 bottom: 100%;
	}
	 50% {
	 -moz-transform: rotate(1080deg);
	}
	 100% {
	 -moz-transform: rotate(0deg) translate3d(50px, 50px, 50px);
	}
}




/* 改变样式 */




.am-header-default {
    background-color: #cc422e;
}
.am-btn-primary {
color: #fff;
background-color:#cc422e;
border-color:#9f5916;
}
.am-btn-primary:focus, .am-btn-primary:hover {
background-color: #e0690c;
}
.am-menu-offcanvas1 .am-menu-nav>li>a {
color: #fff;
}
.am-offcanvas-bar {
    background: #cc422e;
}
.am-menu-offcanvas1 .am-menu-nav > .am-open > a, .am-menu-offcanvas1 .am-menu-nav > li > a:focus,
.am-menu-offcanvas1 .am-menu-nav > li > a:hover {
    background-color: #be5206;
}
.am-menu-offcanvas1 .am-menu-sub {
    background-color:#a56818;
}
.am-offcanvas-bar {
    width: 130px;
}
.am-slider-a5 .am-control-nav li a.am-active {
    background-color:#cc422e;
}
.am-titlebar-multi .am-titlebar-title {
    color: #e0690c;
}
.am-titlebar-multi {
    border-top: 2px solid #e0690c;
}
.am-titlebar-multi a {
    color: #e0690c
}
.am-list > li > a.am-active, .am-list > li > a.am-active:focus, .am-list > li > a.am-active:hover {
    background-color: #be5206;
    border-color: #666
}
.am-titlebar {
    margin-top: 5px;
}
.aspholle{
	border-radius:10px;
}
.aspholletop{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.am-pagination > .am-active > a, .am-pagination > .am-active > a:focus,
.am-pagination > .am-active > a:hover, .am-pagination > .am-active > span,
.am-pagination > .am-active > span:focus, .am-pagination > .am-active > span:hover {
    background-color: #be5206;
    border-color: #8e4327;
}
.am-slider-c3 .am-slider-counter {
    background-color: #a6460f;
}
/*功德芳名*/
#scrollDiv table{margin:0;padding:0;margin: 0 auto;}
#scrollDiv{width:100%;height:145px;min-height:16px;line-height:16px;overflow:hidden;border-top-left-radius:10px;border-bottom-right-radius:10px}
#scrollDiv tr{height:16px;padding-left:10px;padding-top:10px}
#text{font-size:16px}

.content{ line-height:170%;font-size:1em;font-weight:500;}
.content p{ margin-bottom:1em;}
.content table {border: 1px solid #ddd;border-collapse: collapse;display: table;}
.content table td {border: 1px solid #ddd;padding: 5px 10px;}
.content table th {border: 1px solid #ddd;background-color: #f7f7f7;padding: 5px 10px;}
.content img{max-width:100%}
/* 捐赠详细页 开始 */
div.attr{border:1px solid #ccc;margin-bottom:5px;line-height:26px;padding:3px 10px;cursor:pointer;}
div.attr.selected{border:1px solid red;}
/* 捐赠详细页 结束 */


/* 功德池图标 */
.cart{width:100%;height:100%;position: relative;}
.cart #head_cart_num{position:absolute;top:0.5em;right:2em;font-size:0.8rem;border-radius:100%;min-height:16px;min-width:16px;line-height:16px;padding:0.1em 0.2em;}

.cart_checkbox{position: absolute;left:0.1em;top:0.1em;z-index:9;}
.cart_note{color:#757575;font-size:1.2rem;overflow: hidden;text-overflow: ellipsis;line-height:1.3em;}

ul.cart_price_setting{list-style:none;margin:0.5em 0;padding:0;}
ul.cart_price_setting li{float:left;width:30%;}
ul.cart_price_setting li.minus{padding:0.7em;width:auto;background:#EEE;border:1px solid #ccc;border-right:0;}
ul.cart_price_setting li.plus{padding:0.7em;width:auto;background:#EEE;border:1px solid #ccc;border-left:0;}


/* 会员中心 */
.usercp{}
.usercp .avatar{padding:5% 10%;text-align:center;}
.usercp .nickname{text-align:center;}
.usercp .avatar img{width:100px;border-radius:50%;}
.usercp .group{border:0;box-shadow:none}

.am-navbar-gray{
	border-top:1px solid #CFCFCF;
}
.am-navbar-gray .am-active{
	color:#e0690c;
}
.am-navbar-gray .am-active a{
	color:#e0690c;
}
.am-navbar-gray a {
  color: #858585;
}
.am-navbar-gray .am-navbar-nav {
  background-color:#FAFAFA;
}

/**
 * 左侧导航高亮
 */
.am-menu a.am-active{
	color:darkred;
	background:#e0690c;
}

/**
 * 两行省略号
 */
.am-ellipsis2{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}